body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #f0f0f0;  
}

.element{
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border: 2px solid #2980b9;  
}

.parent{
  width: 200px;
  height: 200px;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.child{
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border: 2px solid #2980b9;  
}



